body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.top-bar {
    width: 100%;
    background-color: #ff6347;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    flex: 1; /* Takes up the remaining space */
    display: flex;
    justify-content: center; /* Centers the login-container horizontally */
    align-items: center; /* Centers the login-container vertically */
    width: 100%;
    background-color: #ffffff; /* Optional for contrast */
}

.login-container {
    background-color: #ff6347;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Header style */
.header {
    margin-bottom: 20px;
    font-size: 1.5em;
}

/* Input group style */
.input-group {
    margin-bottom: 15px;
}

/* Form style */
.card {
    width: 400px;
    height: auto; /* Adjust to content */
    padding: 20px;
    background-color: #f3eeed;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* Input style */
.form-control {
    border-radius: 5px;
    padding: 10px;
    width: 100%; /* Adjust for full-width */
    margin-bottom: 10px;
}

/* Button style */
.btn-primary {
    width: 100%; /* Full width for a consistent look */
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

.btn-toggle {
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    background-color: #f0f0f0; /* Optional: for better visibility */
}